pre.xterm {
	color: #d3d7cf;
	background-color: #000000;
	padding: 20px;
	border: 1px dotted white;
	white-space: pre-wrap;
}

pre.xterm > span.italics { font-style: italic; }
pre.xterm > span.underline { text-decoration: underline; }
pre.xterm > span.f0 { color: #000000; }
pre.xterm > span.F0 { color: #282828; }
pre.xterm > span.b0 { background-color: #000000; }
pre.xterm > span.B0 { background-color: #282828; }
pre.xterm > span.f1 { color: #cc0000; }
pre.xterm > span.F1 { color: #f40000; }
pre.xterm > span.b1 { background-color: #cc0000; }
pre.xterm > span.B1 { background-color: #f40000; }
pre.xterm > span.f2 { color: #4e9a06; }
pre.xterm > span.F2 { color: #62c208; }
pre.xterm > span.b2 { background-color: #4e9a06; }
pre.xterm > span.B2 { background-color: #62c208; }
pre.xterm > span.f3 { color: #c4a000; }
pre.xterm > span.F3 { color: #ecc100; }
pre.xterm > span.b3 { background-color: #c4a000; }
pre.xterm > span.B3 { background-color: #ecc100; }
pre.xterm > span.f4 { color: #3465a4; }
pre.xterm > span.F4 { color: #417ecc; }
pre.xterm > span.b4 { background-color: #3465a4; }
pre.xterm > span.B4 { background-color: #417ecc; }
pre.xterm > span.f5 { color: #75507b; }
pre.xterm > span.F5 { color: #9b6aa3; }
pre.xterm > span.b5 { background-color: #75507b; }
pre.xterm > span.B5 { background-color: #9b6aa3; }
pre.xterm > span.f6 { color: #06989a; }
pre.xterm > span.F6 { color: #08bfc2; }
pre.xterm > span.b6 { background-color: #06989a; }
pre.xterm > span.B6 { background-color: #08bfc2; }
pre.xterm > span.f7 { color: #d3d7cf; }
pre.xterm > span.F7 { color: #fafff6; }
pre.xterm > span.b7 { background-color: #d3d7cf; }
pre.xterm > span.B7 { background-color: #fafff6; }
pre.xterm > span.f8 { color: #555753; }
pre.xterm > span.F8 { color: #7c7f79; }
pre.xterm > span.b8 { background-color: #555753; }
pre.xterm > span.B8 { background-color: #7c7f79; }
pre.xterm > span.f9 { color: #ef2929; }
pre.xterm > span.F9 { color: #ff2c2c; }
pre.xterm > span.b9 { background-color: #ef2929; }
pre.xterm > span.B9 { background-color: #ff2c2c; }
pre.xterm > span.f10 { color: #8ae234; }
pre.xterm > span.F10 { color: #9cff3b; }
pre.xterm > span.b10 { background-color: #8ae234; }
pre.xterm > span.B10 { background-color: #9cff3b; }
pre.xterm > span.f11 { color: #fce94f; }
pre.xterm > span.F11 { color: #ffec50; }
pre.xterm > span.b11 { background-color: #fce94f; }
pre.xterm > span.B11 { background-color: #ffec50; }
pre.xterm > span.f12 { color: #729fcf; }
pre.xterm > span.F12 { color: #88bef7; }
pre.xterm > span.b12 { background-color: #729fcf; }
pre.xterm > span.B12 { background-color: #88bef7; }
pre.xterm > span.f13 { color: #ad7fa8; }
pre.xterm > span.F13 { color: #d59ccf; }
pre.xterm > span.b13 { background-color: #ad7fa8; }
pre.xterm > span.B13 { background-color: #d59ccf; }
pre.xterm > span.f14 { color: #34e2e2; }
pre.xterm > span.F14 { color: #3bffff; }
pre.xterm > span.b14 { background-color: #34e2e2; }
pre.xterm > span.B14 { background-color: #3bffff; }
pre.xterm > span.f15 { color: #eeeeec; }
pre.xterm > span.F15 { color: #fffffd; }
pre.xterm > span.b15 { background-color: #eeeeec; }
pre.xterm > span.B15 { background-color: #fffffd; }
